/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece{
  background-color: lightgray;
}

@media screen and (max-width: 820px) {
  button{
    font-size: medium;
  }
}